## Week 8 Lab Instructions:

In [76]:
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder

from sklearn import preprocessing

from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# DF example:
# df = pandas.read_csv('C:\\Users\\travis\\OneDrive - University of New Haven\\Class Materials\\Sprint 2021\\Week 9\\US Census Data\\census_data.csv')

### 1. Return to the US Census Income Dataset from previous weeks
    * We are very familiar with this data at this point.
    * Instantiate the DataFrame in Pandas

In [77]:
df = pd.read_csv('census_data.csv')
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [78]:
#Dropping nas
df = df.dropna()
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### 2. Split into training/testing sets

In [79]:
# Change of datatype
for column in df.columns:
    if df[column].dtype==type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df[column]=le.fit_transform(df[column])

In [80]:
x = df.drop(columns=['income'])
y = df['income']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=555, stratify=y)

### 3. Build a DecisionTreeClassifier with 5 fold cross validation   
    * Note results

In [81]:
dt = DecisionTreeClassifier()

In [82]:
results = sklearn.model_selection.cross_val_score(dt, x_train,y_train, cv=5)
results

array([0.80865293, 0.81531532, 0.81941032, 0.80930931, 0.81804532])

In [83]:
results.mean(), results.std()

(0.8141466379217164, 0.004423854843026862)

### 4. Using the bagging technique, build an ensemble with 100 base DecisionTreeClassifier trees
    * Note and compare results

In [84]:
# BAGGING
# Create a bag of estimators of size 100
dt_bag = BaggingClassifier(base_estimator=dt, n_estimators = 100, random_state=555, n_jobs=-1)

# Fit / Train model
dt_bag.fit(x_train,y_train)

#Results
results = dt_bag.score(x_test, y_test)
results

0.8570960609286709

In [85]:
'The results under bagging is slightly higher than the mean of the results under a decision tree classifier.'

'The results under bagging is slightly higher than the mean of the results under a decision tree classifier.'

### 5. Lastly, build a RandomForestClassifier   
    * Note and compare results yet again

In [86]:
rf = RandomForestClassifier()

In [87]:
results = sklearn.model_selection.cross_val_score(rf, x_train,y_train, cv=5)
results

array([0.85628497, 0.84971335, 0.86158886, 0.85735736, 0.86268086])

In [88]:
results.mean(), results.std()

(0.8575250809453075, 0.004597511092412883)

In [90]:
'Now that there are the 3 models, we can see the following: The results of random forest classifier is slightly higher than that of bagging (although they are almost similar: only about a 0.0005 difference), and the results of bagging is slightly higher than that of decision tree classifier.'

'Now that there are the 3 models, we can see the following: The results of random forest classifier is slightly higher than that of bagging (although they are almost similar: only about a 0.0005 difference), and the results of bagging is slightly higher than that of decision tree classifier.'