In [365]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import sklearn
import graphviz
from sklearn.tree import export_graphviz
from sklearn import tree
from graphviz import Source

## Week 5 Lab
#### Build a Decision Tree (Part A) and a Random Forest (Part B) and compare the results
####  Use the data in the Week 5 Canvas Folder

In [366]:
df = pd.read_csv('winequality-red.csv', delimiter=';')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [367]:
x = df.drop(columns=['quality'])
y = df['quality']
x_train, x_test, y_train, y_test = train_test_split(x, y)

### Part A: Decision Tree on Wine Dataset from Week 3
#### Target the Quality column
Build a decision Tree

In [368]:
dtree = DecisionTreeRegressor(random_state=42)
dtree.fit(x_train, y_train)

DecisionTreeRegressor(random_state=42)

In [369]:
# Change of datatype
for column in x.columns:
    if x[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        x[column] = le.fit_transform(x[column])

In [370]:
x.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
dtype: object

In [371]:
dtree = DecisionTreeRegressor(random_state=42)
dtree.fit(x_train, y_train)

DecisionTreeRegressor(random_state=42)

In [372]:
df_clean = df.drop(columns=['quality'])
for column in df_clean.columns:
    if df_clean[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df_clean[column] = le.fit_transform(df_clean[column])

In [373]:
#Drop nas
df_clean = df_clean.dropna()

In [374]:
df_clean.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [375]:
dtree.predict(x_test)

array([7., 5., 6., 6., 5., 6., 6., 6., 5., 5., 5., 7., 3., 5., 5., 5., 6.,
       5., 6., 7., 6., 5., 7., 7., 6., 7., 6., 5., 7., 3., 7., 5., 4., 6.,
       5., 6., 6., 5., 5., 7., 7., 5., 5., 6., 6., 5., 6., 7., 5., 5., 5.,
       7., 7., 5., 6., 6., 5., 6., 5., 5., 6., 6., 7., 7., 5., 7., 5., 6.,
       5., 5., 5., 7., 6., 5., 5., 6., 6., 6., 5., 5., 5., 6., 6., 7., 5.,
       5., 6., 5., 6., 8., 5., 7., 6., 6., 6., 5., 6., 5., 6., 5., 7., 6.,
       5., 5., 5., 7., 6., 5., 5., 7., 5., 6., 6., 7., 4., 7., 7., 6., 6.,
       5., 5., 6., 4., 4., 7., 6., 7., 5., 5., 8., 6., 5., 7., 6., 5., 4.,
       3., 5., 5., 7., 6., 7., 6., 4., 5., 5., 6., 5., 5., 5., 5., 6., 7.,
       4., 6., 6., 5., 6., 5., 6., 6., 6., 5., 5., 6., 6., 5., 6., 5., 6.,
       6., 6., 7., 5., 6., 6., 4., 5., 5., 6., 5., 5., 5., 5., 5., 5., 6.,
       5., 6., 6., 5., 5., 7., 5., 5., 6., 5., 5., 4., 7., 6., 6., 6., 5.,
       5., 5., 5., 5., 7., 5., 7., 5., 6., 6., 7., 6., 6., 5., 5., 7., 5.,
       5., 5., 5., 6., 5., 7., 6., 6., 7., 7., 5., 5., 7., 5., 5., 6., 7.,
       7., 7., 6., 6., 6., 6., 4., 5., 6., 5., 6., 6., 7., 5., 5., 5., 6.,
       6., 6., 5., 7., 5., 6., 6., 5., 6., 5., 5., 6., 6., 6., 6., 5., 5.,
       7., 5., 6., 5., 6., 5., 6., 6., 8., 7., 5., 5., 6., 5., 6., 5., 6.,
       5., 6., 5., 5., 5., 5., 7., 5., 6., 6., 6., 5., 5., 5., 7., 5., 7.,
       7., 5., 6., 5., 5., 6., 6., 6., 5., 5., 6., 5., 6., 4., 7., 6., 6.,
       6., 7., 5., 5., 6., 6., 6., 6., 5., 6., 6., 6., 5., 7., 6., 6., 6.,
       5., 6., 5., 5., 5., 6., 5., 6., 6., 6., 6., 5., 7., 6., 5., 5., 6.,
       7., 6., 6., 7., 4., 5., 5., 5., 6., 5., 5., 5., 7., 6., 7., 4., 6.,
       6., 6., 6., 7., 6., 6., 6., 5., 5., 6., 6., 4., 5., 5., 7., 4., 7.,
       6., 5., 7., 5., 5., 6., 6., 5., 6.])

In [376]:
pred_df = pd.DataFrame(dtree.predict(x_test), columns=['pred'])
pred_df['actual'] = y_test.values
pred_df['residual'] = (pred_df['pred']-pred_df['actual']).abs()
pred_df

     pred  actual  residual
0     7.0       7       0.0
1     5.0       5       0.0
2     6.0       6       0.0
3     6.0       6       0.0
4     5.0       5       0.0
..    ...     ...       ...
395   5.0       4       1.0
396   6.0       6       0.0
397   6.0       3       3.0
398   5.0       5       0.0
399   6.0       6       0.0

[400 rows x 3 columns]

In [377]:
#Decision Tree Error Rate
error= print('Error: {:.2f}'.format(mean_absolute_error(y_test, dtree.predict(x_test))))

Error: 0.47

### Part B: Decision Tree on Wine Dataset from Week 3

#### Target the Quality column
Build a Random Forest

In [378]:
x = df.drop(columns=['quality'])
y = df['quality']
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [379]:
rf = RandomForestRegressor(n_estimators=100)
rf.fit(x_train, y_train)

RandomForestRegressor()

In [380]:
pred_df = pd.DataFrame(rf.predict(x_test), columns=['pred'])
pred_df['actual'] = y_test.values
pred_df['residual'] = (pred_df['pred'] - pred_df['actual']).abs()
pred_df

     pred  actual  residual
0    5.48       5      0.48
1    5.57       6      0.43
2    5.08       5      0.08
3    5.56       6      0.44
4    5.28       5      0.28
..    ...     ...       ...
395  5.66       5      0.66
396  7.05       7      0.05
397  5.12       6      0.88
398  5.03       5      0.03
399  6.26       7      0.74

[400 rows x 3 columns]

In [381]:
rf.predict(x_test)

array([5.48, 5.57, 5.08, 5.56, 5.28, 5.1 , 4.82, 6.04, 4.58, 5.6 , 5.05,
       6.54, 5.1 , 6.  , 5.15, 6.07, 5.06, 6.14, 5.38, 5.27, 6.48, 6.44,
       5.9 , 5.96, 6.07, 5.73, 6.49, 6.42, 5.16, 5.26, 5.12, 5.54, 5.3 ,
       5.29, 5.68, 5.12, 6.01, 5.09, 5.55, 5.89, 5.72, 5.54, 5.19, 6.56,
       6.25, 6.22, 5.94, 6.02, 5.2 , 5.26, 5.06, 5.14, 5.79, 5.47, 5.23,
       6.91, 5.99, 5.09, 5.16, 5.01, 6.1 , 5.53, 5.05, 5.73, 5.79, 5.79,
       6.38, 5.79, 5.34, 5.24, 5.82, 5.38, 4.72, 5.43, 5.26, 5.23, 6.29,
       5.3 , 5.31, 5.99, 6.92, 5.11, 5.47, 5.87, 5.76, 4.43, 6.6 , 5.65,
       6.14, 5.01, 5.62, 5.44, 5.55, 5.36, 5.07, 5.26, 5.07, 5.02, 5.63,
       5.56, 5.92, 5.3 , 5.15, 5.07, 6.11, 6.01, 5.05, 5.04, 5.9 , 5.34,
       5.87, 6.36, 5.86, 5.74, 6.17, 5.08, 5.07, 5.16, 6.57, 5.24, 5.48,
       6.16, 5.25, 5.26, 5.79, 4.54, 6.23, 6.45, 5.05, 5.93, 5.94, 6.79,
       6.91, 5.65, 6.29, 5.75, 5.  , 5.67, 5.95, 5.13, 6.21, 4.94, 5.62,
       5.09, 6.2 , 6.31, 5.38, 5.79, 5.96, 5.59, 5.28, 5.42, 5.35, 4.79,
       5.21, 5.83, 5.02, 5.13, 5.3 , 5.41, 5.03, 5.97, 5.35, 5.86, 5.88,
       5.06, 5.44, 5.44, 5.85, 5.58, 5.9 , 5.59, 4.67, 5.23, 5.81, 5.04,
       5.18, 4.68, 5.69, 6.66, 5.33, 5.27, 5.08, 5.99, 5.05, 5.01, 5.2 ,
       5.7 , 5.29, 5.03, 5.89, 5.62, 5.13, 5.2 , 5.31, 5.15, 4.96, 5.65,
       6.04, 6.08, 5.49, 5.82, 5.77, 5.68, 5.4 , 5.57, 6.7 , 6.04, 6.21,
       5.4 , 4.79, 5.07, 5.88, 5.89, 5.92, 5.76, 5.83, 5.2 , 5.88, 5.8 ,
       5.65, 5.05, 6.06, 5.02, 5.37, 5.59, 6.41, 5.26, 5.42, 5.19, 5.38,
       5.39, 5.83, 6.28, 5.59, 6.64, 6.32, 6.76, 5.41, 5.06, 5.09, 5.38,
       5.55, 6.09, 6.23, 5.65, 5.05, 5.76, 5.05, 5.31, 6.09, 6.08, 6.08,
       6.01, 5.5 , 6.55, 5.35, 6.13, 6.05, 5.11, 5.85, 6.84, 5.94, 5.07,
       6.45, 5.99, 6.71, 5.36, 5.84, 5.9 , 6.7 , 5.18, 5.12, 6.04, 5.3 ,
       5.29, 5.93, 5.79, 5.4 , 5.33, 5.87, 6.12, 6.3 , 6.21, 5.23, 6.79,
       6.66, 5.11, 5.04, 6.54, 5.28, 4.81, 5.14, 5.04, 6.3 , 4.88, 5.59,
       5.46, 5.29, 5.71, 6.02, 5.96, 6.08, 5.16, 5.46, 5.83, 5.7 , 5.1 ,
       5.46, 5.96, 5.53, 5.87, 6.32, 5.29, 5.6 , 6.19, 5.94, 5.86, 6.45,
       5.93, 4.52, 6.02, 5.96, 4.95, 4.79, 6.47, 5.21, 6.58, 5.67, 5.08,
       5.71, 5.61, 5.16, 5.36, 5.26, 6.14, 5.15, 5.53, 5.13, 5.11, 5.58,
       6.59, 5.41, 5.1 , 6.38, 6.92, 5.11, 6.26, 5.39, 5.5 , 5.14, 5.31,
       6.04, 5.51, 5.19, 5.85, 5.52, 5.4 , 6.01, 5.64, 6.46, 5.65, 6.11,
       5.67, 5.21, 5.09, 5.68, 6.6 , 5.11, 5.01, 6.8 , 5.88, 6.07, 4.95,
       6.62, 6.1 , 5.88, 5.02, 5.04, 5.96, 5.06, 5.3 , 5.04, 5.07, 5.84,
       6.25, 5.01, 5.01, 5.39, 5.49, 4.9 , 5.48, 5.9 , 5.  , 6.82, 5.66,
       7.05, 5.12, 5.03, 6.26])

In [382]:
#Random Forest Error
error= print('Error: {:.2f}'.format(mean_absolute_error(y_test,rf.predict(x_test))))

Error: 0.40

## Which model returned better results?  What metric did you use to determine this ?

In [383]:
'Random Forest has better results. Its error of 0.40 is lower than that of Decision Tree which is 0.47.'

'Random Forest has better results. Its error of 0.40 is lower than that of Decision Tree which is 0.47.'